html {
  height: 100%;
}

body {
  color: #111111;
  min-height: 100%;
  font-size: 14px;
}

#logo {
  margin-bottom: 1.6em;
  margin-top: 1.6em;
  width: 32%;
}

#join-button {
  background-color: #e91a44;
  border-radius: 10px;
  color: #fffef2;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.banner-container {
  background-color: #00306a;
  /*height: 100%;*/
  padding-bottom: 2em;
}

#page-image {
}

.about-container, .writeup-container {
  background-color: #fdb813;
  background-color: #fffef2;
  padding-bottom: 1.6em;
  padding-top: 1.6em;
}

.structure-container {
  padding-bottom: 1.6em;
  padding-top: 1.6em;
}

.section-title {
  color: #e91a44;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 600;
}


/**
* page-info and its related child.
*/
#page-info {
  display: inline-block;
  margin-top: 1em;
}

#page-info .title-left {
  color: #fffef2;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 144px;
  font-weight: 800;
  line-height: 144px;
}

#page-info .title-right {
  color: #fffef2;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 60px;
  vertical-align: top;
}

#page-info .title-right .superscript {
  font-size: 36px;
  line-height: 36px;
}

#page-info .event-title {
  color: #fdb813;
  font-family: 'Titillium Web', sans-serif;
  font-size: 77.8px;
  font-weight: 800;
  line-height: 77.8px;
}

#page-info .event-date {
  color: #fffef2;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
}


/**
* chat-panel and its related child.
*/
.chat-panel {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  padding-top: 1em;
}

.user-panel {
  display: inline-block;
}

.user-panel img {
  border: #001346 solid 1px;
  border-radius: 6px;
  margin-top: 5px;
  width: 40px;
}

.content-panel {
  background-color: #ffffff;
  border: #fdb813 dashed 1px;
  border-radius: 10px;
  display: inline-block;
  max-width: 90%;
  padding: 1em;
}

.content-panel .cellname {
  color: #001346;
  font-weight: 700;
  margin-bottom: 0.4em;
}


/**
* Others
*/
.bottom-left-sharp {
  border-bottom-left-radius: 0px;
}

.bottom-right-sharp {
  border-bottom-right-radius: 0px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  #logo {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 60%;
  }

  #page-info {
    margin-top: 0;
  }

  #page-info .title-left {
    font-size: 60px;
    line-height: 60px;
  }

  #page-info .title-right {
    font-size: 28px;
    line-height: 28px;
  }

  #page-info .title-right .superscript {
    font-size: 18px;
    line-height: 18px;
  }

  #page-info .event-title {
    font-size: 36px;
    line-height: 36px;
  }

  #page-info .event-date {
    font-size: 18px;
    font-weight: 300;
  }

  #page-image {
    display: none;
  }

  #join-button {
    float: right;
    font-size: 12px;
  }

  .banner-container {
    padding-bottom: 1em;
  }

  .content-panel {
    max-width: 84%;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #logo {
    width: 45%;
  }

  #page-info .title-left {
    font-size: 72px;
    line-height: 72px;
  }

  #page-info .title-right {
    font-size: 36px;
    line-height: 32px;
  }

  #page-info .title-right .superscript {
    font-size: 24px;
    line-height: 24px;
  }

  #page-info .event-title {
    font-size: 39.3px;
    line-height: 36px;
  }

  #page-info .event-date {
    font-size:24px;
    font-weight: 300;
  }

  #page-image {
    display: none;
  }

  #join-button {
    float: right;
    padding: 0.8em;
  }

  .content-panel {
    max-width: 88%;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
